<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinho.login.mapper.MemberMapper">
	
	<select id="getList" resultType="memberVO">
		SELECT * FROM Member_Table
	</select>
	
	<insert id="insert">
		INSERT INTO MEMBER_TABLE
		(MEMBERID, MEMBERPW, MEMBERNAME, MEMBEREMAIL, MEMBERZIPCODE, MEMBERADDRESS, MEMBERADDRESSDETAIL, MEMBERADDRESSETC, "imgName")
		VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberEmail}, #{memberZipcode},
				 #{memberAddress}, #{memberAddressDetail}, #{memberAddressEtc}, #{imgName})
	</insert>
	
	<select id="loginCheck" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TABLE
		WHERE MEMBERID=#{memberId} AND MEMBERPW=#{memberPw}
	</select>
	
	<select id="hasId" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TABLE
		WHERE MEMBERID=#{memberId}
	</select>
	
	<select id="getById" resultType="memberVO">
		SELECT * FROM Member_Table WHERE MEMBERID=#{memberId}
	</select>
	
	<update id="update">
		UPDATE MEMBER_TABLE
		SET MEMBERPW= #{memberPw}, MEMBERZIPCODE=#{memberZipcode}, MEMBERADDRESS=#{memberAddress}, MEMBERADDRESSDETAIL=#{memberAddressDetail}, MEMBERADDRESSETC=#{memberAddressEtc}, "imgName"= #{imgName} 
		WHERE MEMBERID= #{memberId}
		
	</update>
</mapper>